/* Define the default font family and size for the entire document */
body {
    font-family: Arial, sans-serif !important;
    font-size: 30px !important;
    font-weight: 500 !important;
    word-spacing: 4px !important;
}

div {
    padding-left: 0 !important;
    text-indent: 0 !important;
}

@media print {
    .page-break {
        page-break-before: always;
    }
}
