fastapi
uvicorn
python-jose[cryptography]
pandas
python-dotenv
asyncpg
# bcrypt is installed by passlib[bcrypt], remove explicit dependency
psycopg2-binary
sqlalchemy
requests
tqdm
yfinance
boto3
passlib[bcrypt]
python-multipart
emails
uvicorn[standard]
pydantic[email]
